.DS_Store
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
*.log
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.venv/
*.env
*.env.*
*.local
*.local.*
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.sublime-settings
*.sublime-metrics
*.sublime-snippet
*.sublime-keymap
*.sublime-theme